.header {
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url("../img/bg-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__title {
  margin: 0;
  font-size: 110px;
  line-height: 134px;
  max-width: 267px;
}

.header__description {
  font-size: 30px;
  line-height: 37px;
  max-width: 575px;
  padding-top: 10px;
  padding-left: 7px;
}

.header__wrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  position: relative;

  margin-top: auto;
}

.header__info-wrapper {
  display: flex;
  flex-direction: column;
}

.header__image {
  width: 450px;
  height: 600px;
  display: flex;
  img {
    width: 100%;
  }
}

.header__info-link {
  margin-left: 5px;
  width: 240px;
  margin-top: auto;
  transition: all 0.3s;
}

@media (max-width: $desktop-large-width) {
  .header {
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url("../img/bg-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
  
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header__title {
    margin: 0;
    font-size: 70px;
    line-height: 85px;
    max-width: 267px;
  }
  
  .header__description {
    font-size: 18px;
    line-height: 22px;
    max-width: 347px;
    padding-top: 10px;
    padding-left: 7px;
  }
  
  .header__wrapper {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 737px;
    justify-content: space-between;
    position: relative;
  
    margin-top: auto;
  }
  
  .header__image {
    width: 300px;
    height: 390px;
  }
  
  .header__info-link {
    margin-left: 5px;
    width: 200px;
    margin-top: auto;
    transition: all 0.3s;
  
  }
}

@media (max-width: $desktop-width) {
  // .header {
  //   padding-top: 185px;
  //   padding-bottom: 40px;
  //   padding-left: 182px;
  //   padding-right: 167px;
  // }

  .header__description {
    font-size: 16px;
    line-height: 20px;
    padding-top: 0;
    padding-left: 5px;
  }

  .header__image {
    width: 326px;
    height: 397px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .header__info-link {
    margin-left: 5px;
    width: 150px;
    margin-top: 125px;
  }
}

@media (max-width: $laptop-width) {
  .header {
    background-position-x: right;
    padding-top: 165px;
    padding-bottom: 60px;
    padding-left: 182px;
    padding-right: 167px;
  }

  .header__wrapper {
    justify-content: center;
  }

  .header__title {
   padding-left: 58px;
  }

  .header__description {
    max-width: 400px;
    width: 100%;
    padding-left: 40px;
    padding-top: 8px;
    padding-right: 50px;
  }

  .header__image {
    display: none;
  }

  .header__info-link {
    width: 100%;
    margin-left: 117px;
    max-width: 150px;
    margin-top: calc(62vh - 232px);
    margin-bottom: 20px;
  }
}

@media (max-width: $tablet-width) {
  .header {
    padding: 0;
  }

  .header__wrapper {
    margin-top: 5vh;
  }

  .header__title {
   padding-left: 55px;
  }

  .header__description {
    padding-left: 60px;
    padding-top: 60px;
  }

  .header__image {
    display: none;
  }

  .header__info-link {
    width: auto;
    max-width: 100%;
    display: inline-flex;
    margin: 0 auto;
    margin-top: 8vh;
  }
  .header__info-wrapper {
    display: flex;
    flex-direction: column;
  }
}
