.services {
  padding: 60px 0 120px 0;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url("../img/bg-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.services__title {
  font-size: 70px;
  line-height: 85px;
  text-align: center;
  margin: 0;
}

.services__item {
  display: flex;
  padding: 17px 20px 14px 20px;

  cursor: pointer;

  &--active {
    background-color: #fff;
  }
}

.services__story {
  display: none;
  &--active {
    display: block;
  }
}

.services__wrapper {
  margin: 0 auto;
  max-width: 750px;
  display: flex;
  margin-top: 70px;
  padding-left: 16px;
}

.services__list {
    @include reset-list;
    width: 370px;
}

.services__item-label {
    width: 370px;
}

.services__story-list {
    @include reset-list;
    background-color: #fff;
    width: 370px;
    padding: 17px 20px;
}

.services__text {
    font-size: 20px;
    margin: 0;
    font-weight: 300;
}

.services__link {
    font-weight: 700;
}

@media (max-width: $desktop-width) {
  .services {
    padding: 80px 0 120px 0;
    background-position-x: right;
  }

  .services__wrapper {
    margin-top: 90px;
    padding-left: 38px;
  }

  .services__list,
  .services__story-list {
    width: 337px;
  }
  .services__item-label,
  .services__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .services__link {
    font-size: 16px;
    line-height: 20px;
  }
}

.services__mobile-modal {
  display: none;
}

@media (max-width: $laptop-width) {
  .services {
    padding: 10vh 0 10vh 0;
    background-position-x: right;
  }

  .services__wrapper {
    margin-top: 16.1vh;
    padding-left: 137px;
  }

  .services__list,
  .services__story-list {
    width: 237px;
  }
}

@media (max-width: $tablet-width) {
  .services {
    padding: 32vh 0 10vh 0;
    background-position-x: right;

  }

  .services__wrapper {
    margin-top: 4vh;
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .services__title {
    font-size: 16px;
    line-height: 20px;
  }

  .services__list {
    margin-right: 15px;
  }

  .services__item {
    width: 249px;
    background-color: #fff;
    margin-bottom: 18px;
    text-align: center;
  }
  
  .services__story-list {
    display: none;
  }
  .services__mobile-modal {
    display: block;
    width: 300px;
    background: #FFFFFF;
    padding: 20px;
    position: relative;
    p {
      margin: 0;
    }
  }
  .services__mobile-modal-close {
    border: none;
    background: #FFFFFF;
    position: absolute;
    right: 0px;
    top: -49px;
    padding: 5px;
  }
  .services__modale-modal-open {
    display: none;
  }

  .services__mobile-modal-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(1px);
  }
}

