.story {
  background-image: url("../img/story-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  padding-top: 110px;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &::before {
    content: "";
    position: absolute;
    width: 6%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    display: block;
    z-index: 1000;
  }
}

.story__title {
  font-size: 110px;
  line-height: 85px;
  text-align: center;
  margin: 0;
  color: white;

  margin-bottom: 100px;
}

.story__overlay {
  background: rgba(39, 20, 20, 0.05);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: none;
  align-items: center;
  justify-content: center;

  &--modal-open {
    display: flex;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.story__modal {
  display: block;
  width: 815px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 300;
  padding: 23px;
  padding-top: 37px;
  text-align: center;

  position: relative;
}

.story__modal-close {
  background: none;
  border: none;
  position: absolute;
  right: 19px;
  top: 19px;

  svg {
    fill: #ffffff;
  }
  cursor: pointer;
}

.story__modal-status {
  font-weight: 800;
  text-align: center;
}

.story__modal-description {
  text-align: left;
  line-height: 37px;
}

.story__wrapper {
  max-width: 1200px;
  display: flex;
  
  margin-bottom: auto;
  margin-left: -150px;
}

.story__list {
  display: flex;
}

.story__list-mobile {
  display: none;
}

.story__list-in {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
}

.story__item {
  cursor: pointer;
  width: 256px;
  height: 295px;
  display: flex;
  margin-right: 10px;
  img {
    width: 100%;
  }
  &--big {
    @media (min-width: $desktop-large-width + 1) {
    width: 540px;
    height: 600px;
    img {
      width: 100%;
    }
  }
  }
  transition: all 0.3s;
  &:hover {
    transform: scale(1.029);
    .works__item-description {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (max-width: $desktop-large-width) {
  .story {
    background-image: url("../img/story-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 720px;
    padding-top: 62px;
  
    overflow-x: hidden;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .story__title {
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    margin: 0;
    color: white;
  
    margin-bottom: 100px;
  }
  
  .story__overlay {
    background: rgba(39, 20, 20, 0.05);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  
    display: none;
    align-items: center;
    justify-content: center;
  
    &--modal-open {
      display: flex;
    }
  
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
  
  .story__modal {
    display: block;
    width: 523px;
    background-color: #000000;
    color: #ffffff;
    font-weight: 300;
    padding: 23px;
    padding-top: 37px;
    text-align: center;
  
    position: relative;
  }
  
  .story__modal-close {
    background: none;
    border: none;
    position: absolute;
    right: 19px;
    top: 19px;
  
    svg {
      fill: #ffffff;
    }
    cursor: pointer;
  }
  
  .story__modal-status {
    font-weight: 800;
    text-align: center;
  }
  
  .story__modal-description {
    text-align: left;
    line-height: 25px;
  }
  
  .story__wrapper {
    max-width: 720px;
    display: flex;
    
    margin-bottom: auto;
    margin-left: -150px;
  }
  
  .story__list {
    display: flex;
  }
  
  .story__list-in {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 390px;
  }
  
  .story__item {
    cursor: pointer;
    width: 169px;
    height: auto;
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    &--big {
      width: 340px;
    }
    transition: all 0.3s;
    &:hover {
      transform: scale(1.029);
      .works__item-description {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .story {
    padding-top: 82px;
  }

  .story__wrapper {
    margin-top: 0;
    padding-left: 0;
    margin-left: 0;
  }

  .story__overlay {
    font-size: 16px;
  }
}

@media (max-width: $laptop-width) {
  .story {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .story__wrapper {
    margin-top: 0;
    padding-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .story {
    padding: 0;
    justify-content: center;
  }

  .story__title {
    font-size: 16px;
    line-height: 20px;
  }

  .story__wrapper {
    
    padding-left: 0;
    justify-content: center;
  }

  .story__item {
    &--big {
      width: 298px;
      height: 300px;
      margin: 0;
      img {
        min-width: 100%;
        object-fit: cover;
      }
    }
  }

  .story__list {
    display: none;
  }

  .story__list-mobile {
    display: flex;
  }

  .story__modal {
    width: 80%;
    font-size: 16px;
  }

  .story__modal-description {
    line-height: 20px;
    font-weight: 300;
  }
  .story__modal-status {
    display: none;
  }

  .story__list {
    z-index: 1;
  }
}
