.story {
  background-image: url("../img/story-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  padding-top: 62px;

  overflow-x: hidden;
}

.story__title {
  font-size: 70px;
  line-height: 85px;
  text-align: center;
  margin: 0;
  color: white;
}

.story__overlay {
  background: rgba(39, 20, 20, 0.05);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: none;
  align-items: center;
  justify-content: center;

  &--modal-open {
    display: flex;
  }
}

.story__modal {
  display: block;
  width: 523px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 300;
  padding: 23px;
  padding-top: 37px;
  text-align: center;

  position: relative;
}

.story__modal-close {
  background: none;
  border: none;
  position: absolute;
  right: 19px;
  top: 19px;

  svg {
    fill: #ffffff;
  }
}

.story__modal-status {
  font-weight: 800;
  text-align: center;
}

.story__modal-description {
  text-align: left;
  line-height: 25px;
}

.story__wrapper {
  margin: 0 auto;
  max-width: 720px;
  display: flex;
  margin-top: 75px;
  padding-left: 13px;
}

.story__list {
  display: flex;
}

.story__list-in {
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 390px;
}

.story__item {
  cursor: pointer;
  width: 169px;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  &--big {
    width: 340px;
  }
}

@media (max-width: $desktop-width) {
  .story {
    padding-top: 82px;
  }

  .story__wrapper {
    margin-top: 65px;
    padding-left: 33px;
  }
}

@media (max-width: $laptop-width) {
  .story {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .story__wrapper {
    margin-top: 15.5vh;
    padding-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .story {
    padding-top: 16vh;
  }

  .story__title {
    font-size: 16px;
    line-height: 20px;
  }

  .story__wrapper {
    margin-top: 13vh;
    padding-left: 0;
    justify-content: center;
  }

  .story__item {
    &--big {
      width: 298px;
      height: 300px;
      margin: 0;
      img {
        min-width: 100%;
        object-fit: cover;
      }
    }
  }

  .story__list-in {
    display: none;
  }
}
