.works {
    background-image: url("../img/story-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0;
    overflow: hidden;

    position: relative;
}

.works__wrapper {
    max-width: 1100px;
    margin: 0 auto;

    position: relative;
    height: 100%;
}

.works__list { 
    display: flex;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 65px;
}

.works__item {
    width: 400px;
    height: 400px;
    margin-right: 33px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
        transform: scale(1.029);
        .works__item-description {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.works__item-description {
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    transform: translateY(50px);
    opacity: 0;
}

.works-modal-overlay {
    background: rgba(39, 20, 20, 0.05);
    backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;

    z-index: 1;

    &--open {
        display: flex;
    }
}

.works-modal {
    display: flex;
    width: 800px;

    background-color: #000000;
    color: #FFFFFF;
    font-weight: 300;
    line-height: 24px;
    position: relative;
    h2 {
        font-size: 30px;
        line-height: 1.2;
    }
}

.works-modal__button-close {
    position: absolute;
    right: 12px;
    top: 12px;
    background: none;
    border: none;
    cursor: pointer;
    svg {
        fill: white;
    }
}

.works-modal__thumbs-item {
    cursor: pointer;
}

.works-modal__wrapper-left {
    width: 50%;

    display: flex;
    flex-direction: column;
    
    img {
        display: block;
    }
}

.works-modal__thumbs-list {
    display: flex;
}

.works-modal__wrapper-right {
    width: 50%;
    padding: 30px;
}

@media (max-width: $desktop-width) {
    .works {
        padding: 183px 0;
        background-position-x: -150px;
    }

    .works__list {
        margin-left: 153px;
    }

    .works-modal-overlay {
        font-size: 16px;
    }
}

@media (max-width: $laptop-width) {
    .works {
        padding: 29vh 0;
        background-position-x: -150px;
    }

    .works__list {
        margin-left: 124px;
    }
}

@media (max-width: $tablet-width) {
    .works {
        padding: 31.5vh 0;
        background-position-x: -150px;
    }

    .works__list {
        margin-left: 37px;
    }

    .works__item {
        width: 300px;
        height: 300px;
        margin-right: 22px;
    }

    .works-modal {
        width: 80%;
        flex-direction: column;

        max-width: 300px;
    }
    .works-modal__wrapper-left {
        width: 100%;
        height: 375px;
    }
    .works-modal__wrapper-right {
        width: 100%;
        padding: 20px;
        font-size: 16px;
        max-height: 190px;

        overflow-y: scroll;
    }

    .works-modal__title {
        display: none;
    }

    .works-modal__image {
        height: 300px;
        display: flex;
    }
    .works-modal__description {
        margin: 0;
    }
    .works-modal__button-close {
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.4);
        padding: 8px;
    }

}