#fp-nav {
    margin: 0 !important;
    width: 6%;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
    display: flex;
    background: rgba(0,0,0,0);
    justify-content: center;
    align-items: center;
    transition: all 0.2s;

    ul li a span {
        width: 10px;
        height: 10px;
        margin: 0;
        left: 0;
        top: 0;
    }

    ul li a.active span {
        width: 10px;
        height: 10px;
        margin: 0;
        left: 0;
        top: 0;
    }
}

#fp-nav ul li {
    width: 10px;
    height: 10px;
    margin-bottom: 12px;
}

#fp-nav ul li:hover a.active span {
    margin: 0;
    width: 10px;
    height: 10px;
}

#fp-nav ul li:hover a span {
    margin: 0;
}

#fp-nav ul li .fp-tooltip.fp-left {
    left: 20px;
    top: -2px;
}

.section {
    overflow: hidden;
}

.works__wrapper, 
.header__wrapper, 
.services__parallax-wrapper,
.story__parallax-wrapper {
    transform: translateY(-30%);
    transition: all 1s;
}

.active {
    .works__wrapper {
        transform: translateY(0%);
        transition: all 0.8s;
    }
    .header__wrapper {
        transform: translateY(0%);
        transition: all 0.8s;
    }
    .services__parallax-wrapper {
        transform: translateY(0%);
        transition: all 0.8s;
    }
    .story__parallax-wrapper {
        transform: translateY(0%);
        transition: all 0.8s;
    }
}

.works .swiper-pagination {
    bottom: -30px;
    left: calc(50vw - 51px);
    width: auto;
    .swiper-pagination-bullet-active {
        background: white;
    }
    .swiper-pagination-bullet {
        background: white;
        margin-right: 5px;
    }
}

.story .story__slider-pagination {
    margin-top: 10px;
    .swiper-pagination-bullet-active {
        background: white;
    }
    .swiper-pagination-bullet {
        background: white;
        margin-right: 5px;
    }
}