body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $main-fonts;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  color: $main-color-text;

  background-color: #ffffff;

}

h1  {
  font-family: $main-fonts;
}

a {
  text-decoration: none;
  color: $main-color-text;
}


img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}


html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

//Описываем контейнер

.container {
  max-width: $desktop-width-container;
  margin: 0 auto;
}

@media (max-width: $desktop-width) {
  .container {
    max-width: $laptop-width-container;
  }
}

@media (max-width: $laptop-width) {
  .container {
    max-width: $tablet-width-container;
  }
}

@media (max-width: $tablet-width) {
  .container {
    max-width: $mobile-width-container;
  }
}