@import "fullpage.scss";
@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";
@import "mixin.scss";
@import "scaffolding.scss";
@import "blocks/header.scss";
@import "blocks/social.scss";
@import "blocks/works.scss";
@import "blocks/services.scss";
@import "blocks/story.scss";
@import "blocks/overlay.scss";
@import "blocks/controls.scss";
@import "blocks/controls-arrow.scss";
@import "blocks/contact-us.scss";
@import "blocks/modal-success.scss";
//Тут остальные импорта
@import "blocks/footer.scss";